body {
        font-family: Arial, Helvetica, sans-serif;
}
.parent {
        width: 400px;
        margin: 10px auto;
        list-style-type: none;
}

.parent li {
        margin-top: 10px;
        background-color: #eee;
        padding: 10px;
       

}

.parent li li {
        padding: 10px;
        background-color: white;
}


.seconde-list ol {
        list-style-type: upper-roman;
}



.third-list ul {
        list-style-position: inside ;
        padding-left : 5px;
}

